<form class="form-horizontal">
    <fieldset id="payment">
        <legend> <img src=" {{ bkmexpress_logo }}"></legend>
        <div class="tabcontent" id="bkmPaymentMethod">
            <p> {{ text_bkm_explanation }}</p>
        </div>
    </fieldset>
    
</form>

<div class="buttons">
    <div class="pull-right">
        <input type="button" value=" {{ button_confirm }}" id="button-confirm" data-loading-text=" {{ text_loading }}"
               class="btn btn-primary"/>
    </div>
</div>

<script type="text/javascript">
    var confirmButton = $('#button-confirm');
    confirmButton.bind('click', function () {
        $.ajax({
            url: 'index.php?route=extension/payment/bkmexpress/send',
            type: 'post',
            data: $('#payment select, #payment input[type="text"], #payment input[type="hidden"], #payment input[type="checkbox"]:checked, #payment input[type="radio"]:checked'),
            dataType: 'json',

            beforeSend: function () {
                $('.alert').remove();
                $('#button-confirm').attr('disabled', true);
                $('#payment').before('<div class="alert alert-info"><i class="fa fa-info-circle"></i>  {{ text_wait }}</div>');
            },

            complete: function () {
                $('#button-confirm').attr('disabled', false);
                $('.attention').remove();
            },

            success: function (json) {
                if (json['success']) {
                    location = json['success'];
                    return true;
                }

                $('.alert').remove();

                if (json['error']['general_error']) {
                    $('#payment').after('<div class="alert alert-warning"><i class="fa fa-info-circle"></i> '
                        + json['error']['general_error'] + '</div>');
                }
            }
        });
    });

</script>
<style>
    fieldset#payment {
        text-align: left;
    }
    fieldset#payment legend img {
        vertical-align: middle !important;
        max-width: 130px;
    }
</style>